<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .head
    {
      text-align: center;
    }
    .center
    {
      text-align: center;
      padding-top: 100px;
    }
    .des
    {
      test-align: center;
    }
</style>
</head>
<body bgcolor="skyblue">
<h1 class="head">Start Your Carrier</h1>
<div class="center">
    <a href="reg">Add Employee</a>
</div>
<div class="center">
    <a href="reg/register/info">View Employee Details</a>
</div>
</body>
</html>